<script>
        function alertCookies() {
                alert(document.cookies)
        }
</script>
<div class="navbar">
        <a href="/users/log-in">Login</a>
        <a href="/users/register">Register</a>
        <a href="/polls/dashboard">Dashboard</a>
        <a href="/users/log-out">Logout</a>
        <button onclick="alertCookies()">Cookies</button>
</div>