<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>

    <form action="/users/login" method="POST">
        <div id="form-group">
            <label for="username">Username</label>
            <input type="text" name="username">
        </div>
        <div id="form-group">
            <label for="password"></label>
            <input type="password" name="password">
        </div>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>