<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3 class="currentUser" style="float: right">You are <i><%= user.username %></i></h3>
    <h1>
        users: 
    </h1>
    <div class="users"></div>
    <a href="/users/log-out">Logout</a>
    <script>
            let currUsers = document.querySelector('.currentUser');
            let users = document.querySelector('.users');
            fetch('/api/users')
                .then(response => {
                    response.json().then(data => {
                        const state = [];
                        let output = '<div>'
                        for (let i in data) {
                            state.push(data[i].lastName);
                        }
                        for (let i=0; i<state.length; i++) {
                            output += `<li>${state[i]}</li>`;
                        }
                        output += '</div>';
                        users.innerHTML = output;
                    })
                })
                .catch(err => console.log(err));
        </script>
</body>
</html>


