:root {
    --primary-color: #090B10;
    --text-color: #ffffff;
    --appHeight: 100%;
    --appWidth: 100%; 
}
html {
    font-size: 16px;
    color: var(--text-color);
}
body {
    overflow-x: hidden;
}
.app {
    min-height: 100vh;
    height: var(--appHeight);
    width: var(--appWidth);
    background: var(--primary-color);
}