.home {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "n n n"
        ". . ."
        ". . ."
    ;
}

.navbar {
    grid-area: n;
}
.theme {
    position: absolute;
    background-image: url("../images/vote.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: sepia(5%) opacity(20%) blur(2px);
}